.meme--nav{
    /* width: 100vw; */
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg,#5E1E77 1.14%,#9C20CA 100%);
    padding: 15px 50px 15px 20px;
    color:white;
}

.meme--nav_logo{
    width: 30px;
    margin-right: 8px;
}

.meme--nav_title_left{
    margin-right: auto;
}

.meme--nav_title-right{
    font-weight: 200;
}