.counter{
    /* background-color: black; */
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
}

.counter--count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
   
}
.counter--count > h1{
    color: white;
}

.counter--minus,
.counter--plus{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    margin-bottom: 15px;
    z-index: 100;
}

.counter > button:active{
    background-color: rgba(128, 128, 128, 0.5)
}

.counter--minus{
    margin-right: -15px;
}

.counter--plus{
    margin-left: -15px;
}